@model rbn.Models.BookDetailsModel

@{
  ViewBag.Title = "Update Book";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Book">
  <h2>@ViewBag.Title</h2>

  <div class="Edit">
    @using (Html.BeginForm())
    {
      @Html.AntiForgeryToken()
      @Html.ValidationSummary( "" )
      @Html.ValidationSummary( true )

      <fieldset>
        <legend>@ViewBag.Title</legend>

        @Html.HiddenFor( model => model.BookId )

        <ol>
          <li>
            @Html.LabelFor( model => model.Title, new { @class = "Label" } )
            @Html.TextBoxFor( model => model.Title, new { @class = "Title" } )
            @Html.ValidationMessageFor( model => model.Title )
          </li>
          <li>
            @Html.LabelFor( model => model.ISBN, new { @class = "Label" } )
            @Html.TextBoxFor( model => model.ISBN, new { @class = "ISBN" } )
            @Html.ValidationMessageFor( model => model.ISBN )
          </li>
          <li>
            @Html.LabelFor( model => model.AuthorId, new { @class = "Label" } )
            @Html.DropDownList("AuthorId", string.Empty)
            @Html.ValidationMessage( "AuthorId", "An Author must be selected." )
          </li>
          <li>
            @Html.LabelFor( model => model.AudienceId, new { @class = "Label" } )
            @Html.DropDownList("AudienceId", string.Empty)
            @Html.ValidationMessage( "AudienceId", "An Audience must be selected." )
          </li>
          <li>
            @Html.LabelFor( model => model.Rating, new { @class = "Label" } )
            @Html.TextBoxFor( model => model.Rating, new { @class = "Rating" } )
            @Html.ValidationMessageFor( model => model.Rating )
          </li>
          <li>
            @Html.LabelFor( model => model.Enabled, new { @class = "Label" } )
            @Html.CheckBoxFor( model => model.Enabled, new { @class = "Enabled" } )
            @Html.ValidationMessageFor( model => model.Enabled )
          </li>
        </ol>

        <p>
          <input type="submit" value="Save the Book Changes" />
        </p>
        <div>
          @Html.ActionLink( "Back to List", "Index", new { @class = "BackToList", type = "button" } )
        </div>
      </fieldset>
    }
  </div>
</div>

@section Scripts {
  @Scripts.Render( "~/bundles/jqueryval" )
}
