@model rbn.Views.ViewModels.AuthorListViewModel

@{
  ViewBag.Title = "Author List";
  Layout = "~/Views/Shared/_LayoutBooks.cshtml";
}

@using (Html.BeginForm())
{
  <div class="Author">
    <h2>Author List</h2>
    @if (Model.Message != string.Empty)
    {
      <div class="Message">@Html.ValueFor(model => model.Message)</div>
    }
    @if (Roles.GetRolesForUser(User.Identity.Name).Contains("Administrator") || Roles.GetRolesForUser(User.Identity.Name).Contains("Contributor"))
    {
      @Html.ActionLink( "Add New Author", "Create", new { id = 0 }, new { @class="AddButton", type = "button" } )
    }
    <div class="List">
      <table>
        <tr>
          <th class="LastName">
            @Html.DisplayNameFor(model => model.AuthorsList[0].LastName)
          </th>
          <th class="Separator"></th>
          <th class="FirstName">
            @Html.DisplayNameFor(model => model.AuthorsList[0].FirstName)
          </th>
          <th class="Separator"></th>
          <th class="MiddleName">
            @Html.DisplayNameFor(model => model.AuthorsList[0].MiddleName)
          </th>
          <th class="Separator"></th>
          <th class="Rating">
            @Html.DisplayNameFor(model => model.AuthorsList[0].Rating)
          </th>
          <th class="Separator"></th>
          <th class="ShowBooks"></th>
        </tr>

        @foreach (var item in Model.AuthorsList)
        {
          <tr>
            <td>
              @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td class="Separator"></td>
            <td>
              @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td class="Separator"></td>
            <td>
              @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td class="Separator"></td>
            <td class="RatingValue">
              @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td class="Separator"></td>
            <td class="ShowBooks">
              <button type="submit" id="btnShowBooks" name="authorId" value="show,@Html.ValueFor(modelItem => item.AuthorId)">Show Books</button>
              @if (Roles.GetRolesForUser(User.Identity.Name).Contains("Administrator"))
              {
                <button type="submit" id="btnDeleteAuthor" name="authorId" value="delete,@Html.ValueFor(modelItem => item.AuthorId)">Delete Author</button>
              }
            </td>
          </tr>
        }
      </table>
    </div>
  </div>
}