@model rbn.Models.ReaderNotesModel

@{
  ViewBag.Title = "Reader Book Notes";
  Layout = "~/Views/Shared/_LayoutBooks.cshtml";
}

<div class="Notes">
  @using (Html.BeginForm( "BookNotes", "Home", FormMethod.Post, new { id = "BookNotes" } ))
  {
    <h2>@ViewBag.Title</h2>
    <h3>&nbsp;for&nbsp;</h3>
    @Html.Partial( "ReaderAliasPartial", Model )

    @Html.AntiForgeryToken()

    @Html.HiddenFor( model => model.ReaderId )

    if (Roles.GetRolesForUser( User.Identity.Name ).Contains( "Administrator" ) || Roles.GetRolesForUser( User.Identity.Name ).Contains( "Contributor" ))
    {
    <div class="contributorNotes">
      Contributor Body
    </div>
    }
    else
    {
    <div class="readerNotes">
      Reader Body
    </div>
    }
  }
</div>

@section Scripts {
  @Scripts.Render( "~/bundles/jqueryval" )
}
