@using rbn.Models
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Reader Book Notes</title>
  <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <meta name="viewport" content="width=device-width" />
  @Styles.Render( "~/Content/css" )
  @Scripts.Render( "~/bundles/modernizr" )
</head>
<body>
  <header>
    @Html.Partial( "HeaderMenuPartial" )
  </header>
  <div id="body">
    <section class="featured">
      <div class="content-wrapper">
        @using (Html.BeginForm( "Search", "Home", FormMethod.Post, new { id = "submitSearch" } ))
        {
          @Html.Partial( "SearchBarPartialView", new SearchBarModel() )
        }
      </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
      @RenderBody()
    </section>
  </div>
  <footer>
    <div class="float-left">
      <p>Reader Book Notes - &copy;@DateTime.Now.Year - Rylinks</p>
    </div>
  </footer>

  @Scripts.Render( "~/bundles/jquery" )
  @RenderSection( "scripts", required: false )
</body>
</html>

<script type="text/javascript">
  $(function () {
    $("input[type=text]").first().focus();
  });
</script>
