<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Reader Book Notes</title>
  <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <meta name="viewport" content="width=device-width" />
  @Styles.Render( "~/Content/css" )
  @Scripts.Render( "~/bundles/modernizr" )
</head>
<body>
  <header>
    <div class="content-wrapper">
      <div class="float-left" style="width: 35%;">
        <div>
          <a href="@Url.Action( "Index", "Home" )">
            <img src='@Url.Content( "~/images/rylinks.png" )' class="site-title" />
          </a>
        </div>
      </div>
      <div class="float-right" style="width: 63%;">
        <section id="login">
          @Html.Partial( "_LoginPartial" )
        </section>
        <nav>
          <ul id="menu">
            <li>@Html.ActionLink( "Book Notes", "BookNotes", "Home" )</li>
            <li>@Html.ActionLink( "Home", "Index", "Home" )</li>
            <li>@Html.ActionLink( "About", "About", "Home" )</li>
            <li>@Html.ActionLink( "Contact", "Contact", "Home" )</li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <div id="body">
    @RenderSection( "featured", required: false )
    <section class="content-wrapper main-content clear-fix">
      @RenderBody()
    </section>
  </div>
  <footer>
      <div class="float-left">
        <p>Reader Book Notes - &copy;@DateTime.Now.Year - Rylinks</p>
      </div>
  </footer>

  @Scripts.Render( "~/bundles/jquery" )
  @RenderSection( "scripts", required: false )
</body>
</html>

<script type="text/javascript">
  $(function () {
    $("input[type=text]").first().focus();
  });
</script>
