@if (Request.IsAuthenticated) {
  <text>
    @if (Roles.GetRolesForUser( User.Identity.Name ).Contains( "Administrator" ))
    {
      // TODO: Add User Maintenance option here
    }
    @Html.ActionLink( "Manage Account", "ManageAccount", "Account" )&nbsp;&nbsp;
    <span style="color: white;">Hello,&nbsp;</span>@Html.ActionLink( User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new
                                              {
                                                @class = "username",
                                                title = "Change Password"
                                              } )<span style="color: white;">!</span>
    @using (Html.BeginForm( "LogOff", "Account", FormMethod.Post, new
    {
      id = "logoutForm"
    } ))
    {
      @Html.AntiForgeryToken()
      <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    }
  </text>
}
else
{
    <ul>
        <li>@Html.ActionLink( "Register", "Register", "Account", routeValues: null, htmlAttributes: new
       {
         id = "registerLink"
       } )</li>
        <li>@Html.ActionLink( "Log in", "Login", "Account", routeValues: null, htmlAttributes: new
       {
         id = "loginLink"
       } )</li>
    </ul>
}
