<div class="content-wrapper">
  <div class="float-left" style="width: 35%;">
    <div>
      <a href="@Url.Action( "Index", "Home" )">
        <img src='@Url.Content( "~/images/rylinks.png" )' class="site-title" />
      </a>
    </div>
  </div>
  <div class="float-right" style="width: 63%;">
    <section id="login">
      @Html.Partial( "_LoginPartial" )
    </section>
    <nav>
      <ul id="menu">
        <li>@Html.ActionLink( "Authors", "Index", "Author" )</li>
        <li>@Html.ActionLink( "Books", "Index", "Book" )</li>
        <li>@Html.ActionLink( "Book Notes", "BookNotes", "Home" )</li>
        <li>@Html.ActionLink( "Home", "Index", "Home" )</li>
        <li>@Html.ActionLink( "About", "About", "Home" )</li>
        <li>@Html.ActionLink( "Contact", "Contact", "Home" )</li>
      </ul>
    </nav>
  </div>
</div>
