@model rbn.Models.LocalPasswordModel

<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor( m => m.OldPassword, new { style="display:inline-block; width: 175px;"} )
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor( m => m.NewPassword, new { style="display:inline-block; width: 175px;"} )
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor( m => m.ConfirmPassword, new { style="display:inline-block; width: 175px;"} )
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Change password" />
    </fieldset>
}
@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">
    $(function () {
        $("input[type=text]").first().focus();
    });
</script>
