@model rbn.Models.ReaderAliasModel

@{
    ViewBag.Title = "Reader Book Notes Admin Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <fieldset class="Admin">
        <div class="content-wrapper">
            <h2>@ViewBag.Title.</h2>
        </div>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary("")
        @Html.ValidationSummary(true)

        @if (Roles.GetRolesForUser(User.Identity.Name).Contains("Administrator"))
        {
            <div class="ReaderAlias">
                @Html.HiddenFor(model => model.ReaderId)
                <div class="har">Reader's Alias</div>
                @Html.DropDownList("ReaderId", ViewBag.ReaderId as SelectList)
            </div>

            <div class="Roles">
                <div class="har">Roles</div>
                @Html.DropDownList("Roles", ViewBag.Roles as SelectList)
            </div>
            
            <div class="AdminSelect">
                @Html.ActionLink("Manage Aliases", "Index", "Admin", new { id = 1 }, new { @class = "Button", type = "button" })
                @*<input id="btnAliases" type="button" name="admin" value="Manage Aliases" class="AdminSelect" />*@
            </div>
        }
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}